<div class="container text-center">
  <div class="row">
    <h1 class="text-center">Reddit's noveltranslations new</h1>
      <p><%= "The value of test5 is " %></p>
      <p><% @test5.each do |k,v| %></p>
      <p> <%= k %>: <%= v %> <br/></p>
      <p><% end %></p>
      <p><% "The value of test4 is #{@test4}" %></p>
      <p><% "The value of test2 is #{@test2}" %></p>
      <p><% "The value of test is #{@test}" %></p>
  </div>
</div>
