<% content_for :title do %>About Natalie Dormer<% end %>

<div class ="container">
  <div class="row">
    <%= image_tag "NatalieDormer.jpg", height: '700', width: '400' %>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h3>About Natalie Dormer</h3>
      <p>She was born in Reading, Berkshire, England, UK. An english actress...
      <br>
      Anyways, look at her again. Look at her reading her book. Isn't she amazing?
      </p>
    </div>
  </div>
</div>
