<% content_for :title do %>About Natalie Dormer<% end %>

<div class ="container">
  <div class="row">
    <%= image_tag "NatalieDormer.jpg", height: '700', width: '400' %>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1>About Natalie Dormer</h1>
      <p>
        <%= link_to more_path, class:"hidden-link" do  %>
          She was born in Reading, Berkshire, England, UK. An english actress...
          <br>
          Enough of that, let's just look at her again. Isn't she amazing?
          <br>
          Click here for more Dormer.
        <% end %>
        <br>
        <br>
        
        <%= link_to "https://lestleygabo.herokuapp.com/", class:"hidden-link", target: "_blank" do %>
        - Lestley A. Gabo, a fan.
        <% end %>
      </p>
    </div>
  </div>
</div>
