<% content_for :title do %>About Natalie Dormer<% end %>
<h3>About Natalie Dormer</h3>
<p>She was born in Reading, Berkshire, England, UK. An english actress and she is very lovely.
Just look at her smile. It's amazing isn't it?
</p>
